@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
body {
  padding: 2em; }

html {
  scroll-behavior: smooth; }

.sections ul {
  float: right;
  list-style-type: none; }
.sections li {
  display: inline;
  margin: 1em; }
.sections a {
  text-decoration: none;
  color: #000; }

.sections > * > *:nth-child(1) {
  margin-right: 30em; }

.sections > * > *:nth-child(7) {
  margin-right: 6em; }

header {
  color: #000;
  padding: 0;
  height: 3em; }

.home {
  background-image: url(../images/increasing_customer_lifetime_value.jpg);
  background-size: cover;
  height: -webkit-fill-available; }

.container {
  position: relative; }

.text-block {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #f5f4f4;
  color: #060606;
  padding-left: 20px;
  font-size: -webkit-xxx-large;
  padding-right: 20px;
  opacity: .5;
  height: 10em; }
  .text-block h1 {
    margin-top: 2em;
    color: #eca43d; }

#about {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 50px;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(2, 1fr);
  margin-top: 1em;
  background-color: #eca43d; }
  #about .text {
    margin-top: 8em;
    font-size: large;
    color: #fff; }
  #about img {
    width: 810px; }

.container2 {
  height: 20em;
  position: relative;
  margin-top: 2em;
  background-color: #DFCC74; }
  .container2 img {
    width: 23em;
    margin-left: 28em; }

.txt {
  position: absolute;
  top: 50px;
  color: #000000;
  padding-left: 20px;
  font-size: large;
  opacity: 1.3;
  margin-left: 29em;
  margin-top: 2.5em; }

.container3 {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 50px;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(3, 1fr);
  margin-top: 2em; }
  .container3 ul {
    list-style-type: none; }
  .container3 .job {
    font-size: larger; }
    .container3 .job h3 {
      color: #eca43d; }

.container4 {
  text-align: center;
  margin-top: 5em;
  font-size: larger; }
  .container4 h1 {
    color: #eca43d;
    font-size: -webkit-xxx-large; }

.qualifications {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 50px;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(2, 1fr);
  margin-top: 2em;
  background-color: #eca43d; }
  .qualifications img {
    width: 650px; }
  .qualifications section {
    margin-left: 10em;
    margin-top: 10em; }
    .qualifications section h3 {
      color: #fff; }

.grid {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 50px;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(2, 1fr);
  margin-top: 5em;
  background-color: #DFCC74; }
  .grid img {
    width: 615px; }

.skill ul {
  display: inline; }
.skill li {
  list-style-type: none;
  display: inline;
  margin: 1em; }
.skill img {
  height: 5em;
  width: 5em;
  margin-top: 3em; }
.skill h3 {
  margin-top: 2em;
  color: #fff; }

.container5 h1 {
  text-align: center;
  color: #000;
  font-size: 2em;
  margin-top: 2em; }
.container5 h4 {
  text-align: center; }

/*# sourceMappingURL=main.css.map */
