// ==================== //
    // Global Imports
// ==================== //
@import 'partials/variables',
        'partials/mixins',
        'partials/base',
        'partials/components',
        'partials/responsive';
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    padding: 2em;
}

html {
    scroll-behavior: smooth;
}

// =============== //
    // Header //
// =============== //
.sections {
    ul {
       @include ul;
    }

    li {
        display: inline;
        margin: 1em;
        font-size: larger;
    }

    a {
        text-decoration: none;
        color: #000;
        margin-top: 1em;
    }
}

.sections a:hover {
    color: #eca43d;
}

.sections>*>*:nth-child(1) {
   margin-right: 15em;
}

.sections>*>*:nth-child(7) {
    margin-right: 6em;
}

header {
    @include header;
}

// ================== //
    //Home Banner//
// ================== //
.home {
    background-image: url(../images/increasing_customer_lifetime_value.jpg);
    background-size: cover;
    height: -webkit-fill-available;
}

.container {
    position: relative;
}
  
.text-block {
    @include text-block;
}

// ================ //
    // About //
// ================ //

#about {
    @include about;
}

// =================== //
    // Experience //
// =================== //
.container2 {
    @include container2;
}
  
.txt {
    @include txt;
}

.container3 {
    @include container3;
}

// ================= // 
    // Education // 
// ================= // 

.container4 {
    @include container4;
}

.qualifications {
    @include qualifications;
}

// =============== //
    // Skills // 
// =============== // 

.grid {
    @include grid;
}

.skill {
    @include skills;
}

.container5 {
    @include container5;
}

// ================== // 
    // Portfolio // 
// ================== // 
.container6 {
   @include container6;
}

.grid2 {
   @include grid2;
}

.img1 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    width: 100%;
    position: relative;
}

.img4 {
    grid-column: 3 / 5;
    grid-row: 2 / 4;
}



// =============== //
    // Contact // 
// =============== // 

.container-contact100 {
    @include container-contact100;    
}

.wrap-contact100 {
  @include wrap-contact100; 
}

.contact-image01 {
    width: 105%;
    height: 90%;
}

// [ Form ]*/

.contact100-form {
  width: 475px;
  display: block;
  padding: 25px 55px 55px 80px;
}

.contact100-form-title {
    @include contact100-form-title;
}

// [ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  margin-bottom: 20px;
}

.label-input100 {
  font-family: Montserrat-SemiBold;
  font-size: 20px;
  color: #666666;
  line-height: 1.2;
  text-transform: uppercase;
  padding: 15px 0 2px 24px;
}

.input100 {
  display: block;
  width: 89%;
  background: transparent;
  font-family: Montserrat-Regular;
  font-size: 18px;
  color: #404b46;
  line-height: 1.2;
  padding: 0 26px;
}

input.input100 {
  height: 48px;
}

textarea.input100 {
  min-height: 130px;
  padding-top: 14px;
  padding-bottom: 15px;
}

.focus-input100 {
    @include focus-input100;
  }
  
.input100:focus + .focus-input100 {
    visibility: visible;
    opacity: 1;  
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
  
.eff-focus-selection {
    visibility: visible;
    opacity: 1;  
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

//   [ Button ]*/
.container-contact100-form-btn {
    @include button;
}
  
.contact100-form-btn {
    @include contact100-form-btn;
}
  
.contact100-form-btn:hover {
    background: #404b46;
}

// =============== // 
    // Footer // 
// =============== // 
.footer {
    ul {
        list-style-type: none;
        text-align: center;
        margin: 1em;
        margin-right: 2em;
        font-size: -webkit-xxx-large;
    }

    li {
        display: inline;
    }

    h3 {
        text-align: -webkit-center;  
        font-size: 2em;  
    }
}

// =========================== // 
    // Back to Top Button // 
// =========================== // 

#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #a20021; 
    color: #eca43d;
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
}
  
#myBtn:hover {
    background-color: #DFCC74; 
}
 
// ===================== //
    // Media Queries // 
// ===================== // 

@media screen and (max-width: 1024px) {
    .sections > * > *:nth-child(1) {
        margin-right: 5em;
    }

    .text-block {
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 2em;
        height: 6em;
    }

    .text-block h1 {
        margin-top: 1em;
    }

    #about img {
        width: 520px;
        height: 555px;
    }

    .txt {
        margin-left: 19em;
    }

    .qualifications img {
        width: 500px;
    }

    .qualifications section {
        margin-left: 7em;
        margin-top: 6em;
    }

    .skill li img {
        height: 4em;
        width: 4em;
        margin-top: 2em;
    }
    
    .grid img {
        width: 460px;
    }

    .grid2 img {
        width: 95%;
        height: 95%;
    }

    .contact100-form {
        width: 370px;
    }

    .input100 {
        width: 84%;
    }

    #myBtn {
        right: 5em;
    }
}

@media screen and (max-width: 768px) {
    .sections li {
        font-size: small;
    }

    #about img {
        width: 400px;
        height: 530px;
    }

    #about .text {
        margin-top: 3em;
    }

    .txt {
        margin-left: 13em;
    }

    .qualifications img {
        width: 395px;
    }

    .qualifications section {
        margin-left: 6em;
        margin-top: 0em;
    }

    .grid img {
        width: 380px;
    }

    .skill li img {
        height: 2em;
        width: 2em;
        margin-top: 0em;
    }

    .skill ul {
        padding-left: 0;
    }

    .contact100-form {
        width: 255px;
    }

    .input100 {
        width: 79%;
    }
    
    .contact100-image {
        width: 348px;
    }

    .container4 {
        margin-top: 2em;
    }

    .container5 h1 {
        margin-top: 1em;
    }

    .grid {
        margin-top: 3em
    }

    .grid2 {
        margin-top: 3em;
    }
}

@media screen and (max-width: 425px) {
    .sections ul {
        width: 86%;
    }

    .sections > * > *:nth-child(1) {
        margin-right: 3em;
    }

    .text-block h1 {
        margin-top: 0em;
        font-size: larger;
    }
    
    .text-block {
        font-size: 2em;
        height: 5em;
        width: 8em;
        margin-top: 4em;
    }

    #about {
        display: block;
        height: 721px;
    }

    #about img {
        width: 345px;
        height: 420px;
    }

    #about h1 {
        font-size: xx-large;
        margin-bottom: 0;
        margin-top: 0;
    }

    .txt {
        margin-left: 1em;
    }

    .txt h1 {
        font-size: 2em;
        margin-left: 1em;
    }

    .container3 {
        display: block;
    }

    .qualifications {
        display: block;
    }    

    .qualifications img {
        width: 347px;
    }

    .grid {
        display: block;
    }

    .grid img {
        width: 345px;
    }

    .wrap-contact100 {
        display: block;
    }

    .contact100-form {
        padding-left: 67px;
    }

    .footer ul {
        font-size: 2em;
    }

    .footer h3 {
        font-size: 1.5em;
    }

    #myBtn {
        right: 2em;
    }
}

@media screen and (max-width: 375px) {
    .sections ul {
        width: 100%;
    }

    header {
        width: 334px;
    }

    .home {
        width: 332px;
    }

    #about img {
        width: 332px;
        height: 405px;
    }

    #about {
        width: 334px;
    }

    .container2 {
        width: 335px;    
        height: 8em;
    }

    .qualifications {
        width: 326px;
    }

    .qualifications section {
        margin-left: 3em;
    }

    .qualifications img {
        width: 327px;
    }

    .grid img {
        width: 325px;
    }

    .grid {
        width: 326px;
    }

    .contact100-form {
        padding-left: 28px;
    }

    #myBtn {
        right: 5em;
    }
}